MONGODB_URI = mongodb+srv://nguyenminhhieu591:hieu123@supermarketonline.lj8ucvt.mongodb.net/SieuThiOnline?retryWrites=true&w=majority&appName=SuperMarketOnline
TOKEN_SECRET_KEY = SBFBSBDADWQHQREENAAQCDVVNCNFMFFIF
FRONTEND_URL = http://localhost:3000